<!-- Project Name: Wearable Sensor ALS Assess
  Team Members: Priya Gokhale, Emme Cai, Haley Deng, Bernice Zhao
  Date Due: May 31st
  File Name: dashboard.html
  Task Description: individual html that displays the dashboard, including a button to start and stop recording data and a calendar to select the day for the user to pick to display their information -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALS Assess</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" defer integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="module" src="{{url_for('static', filename='js/navbar.js')}}" defer></script>
    <script type="module" src="{{url_for('static', filename='js/signIn.js')}}" defer></script>
    <script type="module" src="{{url_for('static', filename='js/register.js')}}" defer></script>
    <script type="module" src="{{url_for('static', filename='js/dashboard.js')}}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" defer
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header id="navbar">
        <!-- Creates navbar -->
        <div class="logo">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='/img/ALSA.png')}}" height=45px
                    width=80px class="grow" id="logo"></a>
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <div class="logo">
                <img src="{{url_for('static', filename='/img/ALSA.png')}}" height=55px width=55px id="logo">
            </div>
            <!--- Pages for navbar -->
            <ul>
                <li>
                    <a href="{{url_for('index')}}">HOME</a>
                </li>
                <li>
                    <a href="{{url_for('aboutUs')}}">ABOUT US</a>
                </li>
                <li>
                    <a href="{{url_for('ourProduct')}}">OUR PRODUCT</a>
                </li>
                <li>
                    <a href="" id="dashboard" class=""></a>
                </li>
                <li>
                    <div class="center grow-a-bit">
                        <button class="remove-for-sign-out show-login login-button-style" id="signInOut"></button>
                    </div>

                </li>
            </ul>
        </nav>
        <!--- hamburger button for navbar -->
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <!-- Sign In modal -->
    <div class="" id="signin-modal-home">
        <div class="modal-container">

            <div class="modal-thing ">
                <div class="signIn-popup">
                    <!--Sign Up -->
                    <div class="signIn-close-btn">&times;</div>
                    <div class="signUpForm flex justify-center">

                        <form>

                            <div class="signin-message">Sign-In</div>
                            <input type="email" placeholder="Email" id="loginEmail" class="signIn-text-field mb-3">
                            <input type="password" placeholder="Password" id="loginPassword"
                                class="signIn-text-field mb-3">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input center" type="checkbox" role="switch"
                                    id="keepLoggedInSwitch">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Keep me signed in</label>
                            </div>
                            <button type="button" id="signIn" name="signIn" class="btn signIn-btn mb-3 w-100">Sign
                                In</button>
                            <a id="show-register" class="clicky-button badge bg-secondary py-1 w-100">I don't have an
                                account</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Register modal -->
    <div class="" id="register-modal-home">
        <div class="modal-container">

            <div class="modal-thing ">
                <div class="register-popup">
                    <!--Sign Up -->
                    <div class="register-close-btn">&times;</div>
                    <div class="signUpForm flex justify-center">
                        <form>
                            <div class="signin-message">Register</div>
                            <input type="text" placeholder="First Name" id="firstName"
                                class="form-control signIn-text-field mb-3">
                            <input type="text" placeholder="Last Name" id="lastName"
                                class="form-control signIn-text-field mb-3">
                            <input type="email" placeholder="Email" id="userEmail"
                                class="form-control signIn-text-field mb-3">
                            <input type="password" placeholder="Password" id="userPass"
                                class="form-control signIn-text-field mb-3">
                            <button type="button" id="submitData" name="submitData"
                                class="register-btn btn mb-3 w-100">Register</button>
                            <a id="reveal-login" class="clicky-button badge bg-secondary py-1 w-100">Already have an
                                account?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Where the circles will be animated -->
    <div class="main-area">
        <div class="circles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

<!-- Dashboard heading and buttons for collecting data -->
        <div class="container heading-div">
            <h1 id="welcome"></h1>
            <!---personalized welcome message-->
            <center>
                <h5 class="dashboard-heading">This is your personal dashboard.
            </center>
            </h5>
            <center>
                <h4 class="dashboard-heading">All the data from <em>your</em> ALS device will come here!</h4>
            </center><br>
            <div class="recording-div">
                <button type="button" id="start-recording" class="above-all start-recording btn active">Start Recording Data</button>
            </div>
            <div class="recording-div">
                <button type="button" id="stop-recording" class="above-all start-recording btn stop-recording">Stop Recording Data</button>
            </div>
            
        </div>

        <div class="container data-container center-stuff">
            <h1 class="results-heading">Muscle Sensor Readings</h1>

            <input class="above-all mb-3" type="date" id="date" name="date" value="2023-05-15">
            <button type="button" id="getDataSet" name="getDataSet" class="above-all btn mb-3 w-100">Get
                Dataset</button>
                <div >
                    <div><canvas id="myChart" class="grab-me"></canvas></div>
                </div>            
        </div>
    </div>


</body>
<!--Footer (Requires BootStrap Icon CSS)-->
<footer class="p-4 nb-bg-color footer text-light text-center position-relative">
  
    
    <p class="lead">Copyright &copy; SE 2023 The ALS Assess</p>
    <p class="small">Website made by Priya Gokhale </p>
    <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h2 icon-white"></i>
    </a>
</footer>
</html>